<script>         
function showOri(s,i)
{
 console.log(s  + " " + i);  
 $("#label_ori"+i).toggle();  
}
</script>  
  <% @temp_hash.each_with_index do |item_hash , i| %> 
    <% def getStr(strT)%>  
      <% strT ? strT : "" %>  
    <% end %>  

    <fieldset>
      <legend>第<%= i+1%>个限制项:</legend>
      <table border="1"  width="500" >  
        <label>未来七天: </label> 
          <tr>  
            <% getStr(item_hash["number"]).split(";").each do |itemT|%>
            <td align="center"> <%= itemT %></td>  
            <% end %>  
         </tr>  
      </table>  
		<br>            
        <table border="1" width="800" >  
          <tr>  
            <th>日期</th>  
            <th>时间</th> 
            <th>类型</th>  
            <th>英文牌照处理方式</th>  
            <th>法定假</th>  
          </tr>  
          <tr>  
            <td align="center"> <%= getStr(item_hash["date"]) +" "+ getStr(item_hash["week"]) %></td>  
            <td align="center"><%= getStr(item_hash["time"])%></td>  
            <td align="center"><%= getStr(item_hash["rtype"])%></td>  
            <td align="center"> <%= getStr(item_hash["engrpnum"]) %></td>  
            <td align="center"><%= getStr(item_hash["holiday"]) %></td>  
          </tr>  
        </table>  

    <br><label>区域: </label><%= getStr (item_hash["area"]) %>   
    <% strTMsg = '911' %> 
    <br><button onclick=showOri(<%=strTMsg%>,<%= @label_id.to_s %>)>原始信息</button>
    <br><label id =<%=  "label_ori" + @label_id.to_s %> hidden="hidden"><%=getStr(item_hash["msg"])%>  </label>
    </fieldset>
    <% @label_id = @label_id + 1%> 
  <% end %>