<%= link_to '选择城市', root_path %>
<h1>城市限行信息 Code: <%= @city_code%></h1>
<fieldset>
    <legend>概要:</legend>
    <% @temp = @city_general %>
  <% if @temp  %>
       <table summary="general" border="1"  width="500" >  
      <tr>  
        <th>限号</th>  
        <th>日期</th>  
        <th>时间</th>  
             </tr>  
      <tr>  
        <td align="center"> <%= @temp["number"] %></td>  
        <td align="center"><%= @temp["data"]%></td>  
        <td align="center"><%= @temp["time"]%></td>  
      </tr>  
    </table>  
   <br>
   <% end  %>
  </fieldset>
<fieldset>
  <legend>详细: <%= @detail_hash["cityname"]+"  " + @detail_hash["city"]  %></legend>  
  <% @temp_hash = @loca_hash  %>
  <% if @temp_hash && @temp_hash.count>0 %>
  <h2>本地车辆: </h2>
  <%= render 'rt_item' %>
  <% end  %>
  <% @temp_hash = @fori_hash  %>
  <% if @temp_hash && @temp_hash.count>0 %>
  <h2>外地车辆: </h2>  
  <%= render 'rt_item' %>
  <% end  %>
  <% @temp_hash = @allc_hash  %>
  <% if @temp_hash && @temp_hash.count>0 %>
  <h3>所有车辆: </h3>
  <%= render 'rt_item' %>
  <% end  %>
</fieldset>


