<%= link_to '选择城市', root_path %>
<h1>城市限行信息</h1>

<p>
  <strong>Code:</strong>
  <%= @city_code%>
</p>


<fieldset>
    <legend>概要:</legend>
    <% @temp = @city_general %>
  <% if @temp  %>
       <table summary="general" border="1"  width="500" >  
      <tr>  
        <th>限号</th>  
        <th>日期</th>  
        <th>时间</th>  
             </tr>  
      <tr>  
        <td align="center"> <%= @temp["number"] %></td>  
        <td align="center"><%= @temp["data"]%></td>  
        <td align="center"><%= @temp["time"]%></td>  
      </tr>  
    </table>  
   <br>
   <% end  %>
  </fieldset>


<fieldset>
  <legend>详细:</legend>
  <%= @detail_hash["cityname"]+"  " + @detail_hash["city"]  %>

  <% @temp_hash = @loca_hash  %>
  <% if @temp_hash  %>
  <br><br><label>本地车辆: </label>
  <%= render 'rt_item' %>
  <% end  %>

  <% @temp_hash = @fori_hash  %>
  <% if @temp_hash  %>
  <br><br><label>外地车辆: </label>  
  <%= render 'rt_item' %>
  <% end  %>
  <% @temp_hash = @allc_hash  %>
  <% if @temp_hash  %>
  <br><br><label>所有车辆: </label>
  <%= render 'rt_item' %>
  <% end  %>
</fieldset>


