<main class="wrapper" role="main">
	<form method="post" action="show-data.php" enctype="multipart/form-data">
		<!-- START ACCOUNT FIELDS -->
		 <fieldset>
			<h2 class="hdr-account">编辑限行项</h2>

			<div class="fields">
			   <%i= 0%>
			    <%item= @item%>
			    	<div class="row">
					<label >序号 <%= item[i]%></label>
				</div>
					<%i= i+1%>
				<div class="row">
					<label for="mesIndex">关联描述Id:</label>
					<input type="text" id="mesIndex" name="mesIndex" value = "<%= item[i]%>" class="field-large" required="required" aria-required="true" />
				</div>
				<%i= i+1%>
				<div class="row">
					<label for="city-code">城市Code:</label>
					<input type="text" id="city-code" name="city_code" value = "<%= item[i]%>" class="field-large" required="required"/>
				</div>
					<%i= i+1%>
				<div class="row">
					<label for="chepai">车牌:</label>
					<input type="text" id="chepai" name="chepai" value = "<%= item[i]%>" placeholder="例如: 赣A;赣M" class="field-large" />
				</div>
					<%i= i+1%>
			   <div class="row">
					<label for="guishudi">归属地:</label>
					<select id="guishudi" name="guishudi" >
					  <% $guishudi_hash.each do |key,value| %>
                   <option value=  <%=key%> > <%=value%></option>
                 <% end %>
					</select>
				</div>
					<%i= i+1%>
				<div class="row">
					<label for="dengji">登记限制:</label>
					<select id="dengji" name="dengji" >
					  <% $dengji_hash.each do |key,value| %>
                   <option value=  <%=key%> > <%=value%></option>
                 <% end %>
					</select>
				</div>
					<%i= i+1%>
					<div class="row">
					<label for="shijian">事件限行:</label>
					<select id="shijian" name="shijian" >
					  <% $shijian_hash.each do |key,value| %>
                   <option value=  <%=key%> > <%=value%></option>
                 <% end %>
					</select>
				</div>
					<%i= i+1%>
				<div class="row">
					<label for="leixing">规则类型:</label>
					<select id="leixing" name="leixing" >
					  <% $leixing_hash.each do |key,value| %>
                   <option value=  <%=key%> > <%=value%></option>
                 <% end %>
					</select>
				</div>
					<%i= i+1%>
					<div class="row">
					<label for="zhoumo">周末上班:</label>
					<select id="zhoumo" name="zhoumo" >
					  <% $truefalse_hash.each do |key,value| %>
                   <option value=  <%=key%> > <%=value%></option>
                 <% end %>
					</select>
				</div>
					<%i= i+1%>
				<div class="row">
					<label for="jiejiari">节假日:</label>
					<select id="jiejiari" name="jiejiari" >
					  <% $truefalse_hash.each do |key,value| %>
                   <option value=  <%=key%> > <%=value%></option>
                 <% end %>
					</select>
				</div>
					<%i= i+1%>
            <div class="row">
					<label for="yingwen">英文规则:</label>
					<select id="yingwen" name="yingwen" >
					  <% $yingwen_hash.each do |key,value| %>
                   <option value=  <%=key%> > <%=value%></option>
                 <% end %>
					</select>
				</div>
					<%i= i+1%>
				 <div class="row">
					<label for="sanshiyi">31号:</label>
					<select id="sanshiyi" name="sanshiyi" >
					  <% $truefalse_hash.each do |key,value| %>
                   <option value=  <%=key%> > <%=value%></option>
                 <% end %>
					</select>
				</div>		
					<%i= i+1%>
					<div class="row">
					<label for="xianhao">限号:</label>
					<input type="text" id="xianhao" name="xianhao" value = "<%= item[i]%>" class="field-large" placeholder= "例如: 1,6;2,7;3,8;4,9;5,0。-1为不限行"/>
				</div>			
					<%i= i+1%>	
					<div class="row">
					<label for="time">时段:</label>
					<input type="text" id="time" name="time" value = "<%= item[i]%>" class="field-large" placeholder= "例如: 07:00-09:00;16:30-18:30"/>
				</div>
					<%i= i+1%>
				<div class="row">
					<label for="date">有效期:</label>
					<input type="text" id="date" name="date" value = "<%= item[i]%>" class="field-large" placeholder= "例如: 20160601-20160710"/>
				</div>
					<%i= i+1%>
				<div class="row">
					<label for="time">区域:</label>
					<textarea id="quyu" name="quyu" cols="40" rows="5" class="field-large"><%= item[i]%></textarea>
				</div>
			</div>
		</fieldset>
		
			<!--
		<fieldset>
			<h2 class="hdr-public-profile">Public Profile</h2>

			<div class="fields">
				<div class="row">
					<label for="picture">Picture:</label>
					<input type="file" id="picture" name="picture" />
					<p class="instructions">Maximum size of 700k. JPG, GIF or PNG.</p>
				</div>
			
				<p class="row">
					<label for="bio">Bio:</label>
					<textarea id="bio" name="bio" cols="40" rows="5" class="field-large"></textarea>
				</p>
				
			</div>
		</fieldset>
      -->
		
		<input type="submit" value="完成" class="btn" />
	</form>
</main>
